.btn-container {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .input-block textarea{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .Button {
    width: 140px;
  }